/*Google Fonts*/

/*letra menu*/

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');

/*letra titulo primera seccion*/
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

/*letra cursiva titulo sexta seccion*/
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');

/*Letra de ESPECIALIDADES primera seccion*/
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');


/*letra Segunda seccion-- titulo de platos*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');

/*Letra  de footer "las palmas"*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');

/* Letra Eventos del footer*/
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

/*Letra consultas*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Css Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/*Menu de navegacion*/
nav {

    display: flex;
}

.bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    margin-left: 20px;

}

.nav-menu {
    position: fixed;
    width: 98%;
    height: 0vh;
    top: 100px;
    background-color: black;
    text-align: center;
    transition: all .5s;

}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px;
    transition: all .5s;

}

.nav-menu li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: rgb(206, 111, 44);
    transition: .3s;
}

ul li {
    list-style: none;
}

ul li a {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

#check:checked~.nav-menu {
    height: 100vh;

}

#check:checked~.nav-menu li {
    display: block;


}

#check {
    display: none;
}



/*Foto portada header*/
.foto-portada {
    width: 100%;
    height: 100vh;
    background-image: url(img/catering/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}





/*primer seccion de la pagina*/

.primera-seccion {
    background-color: rgb(241, 241, 241);
}

.titulo-1ra-seccion h3 {
    font-family: 'Carattere', cursive;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.parrafo-1ra-seccion {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

/*parte del primer parrafo*/

.especialidades {
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}



/*Segunda seccion con imagenes */

.segunda-seccion h5 {
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    color: rgb(206, 111, 44);
    font-weight: bold;
    font-size: 25px;
}




/*Tercer seccion solo imagen de pantalla completa*/
.foto-cheff {
    width: 100%;
    height: 550px;
    background-image: url(img/catering/sebastian-coman-photography-cQbOSRpElxw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;


}

.foto-cheff p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Alumni Sans', sans-serif;

}

.nombre-cheff {
    color: white;
    text-align: center;
    font-family: 'Birthstone Bounce', cursive;
    font-size: 35px;

}


/*cuarta seccion fotos y texto*/

.barra h5 {
    font-family: 'Carattere', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.bodega h5 {
    font-family: 'Carattere', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.barra p {
    line-height: 2;
    font-size: 18px;
}

.bodega p {
    line-height: 2;
    font-size: 18px;
}

/*quinta seccion solo fotos*/





/*sexta seccion solo texto*/
.sexta-seccion {
    background-color: rgb(241, 241, 241);
    ;
}

.titulo-6ta-seccion h3 {
    font-family: 'Birthstone Bounce', cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    color: rgb(206, 111, 44);

}

.titulo-6ta-seccion p {
    text-align: center;
    font-weight: 1.5;
    font-size: 25px;


}

/*footer*/

footer h6 {
    text-align: center;
    padding-top: 60px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px;
}

.eventos {
    font-family: 'Gotu', sans-serif;
    font-size: 20px;
    color: rgb(206, 111, 44);
}

footer p {
    text-align: center;
}

.redes p {
    text-align: center;


}

/*pagina de consulta*/

.foto-portada-consulta {
    width: 100%;
    height: 620px;
    background-image: url(img/consulta/Mia\ y\ Martin\ -\ Boda\ de\ día\ en\ Rincón\ de\ Pilar\ -\ Juan\ Pablo\ Mansilla\ _\ Fotografía\ de\ Bodas\ _\ Fotógrafo\ de\ Casamientos\ en\ Buenos\ Aires\,\ Argentina\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.primer-bloque-1 h6 {
    font-family: 'Poppins', sans-serif;
}

.primer-bloque-1 h3 {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}



.mb-3 input {
    width: 450px;
}

.mb-3 textarea {
    width: 450px;
}

.form-floating select {
    width: 450px;

}



.form-floating label {
    padding-left: 70px;
}

.radios {
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
}

.radios-0 label {}



.boton button {

    background-color: rgb(202, 139, 94);

}

.boton {
    padding-left: 50px;
}

.segundo-bloque-1 {
    background-image: url(img/consulta/pexels-thirdman-5961033\ \(4\).jpg);
    width: 100%;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;

}

.segundo-bloque-1 h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;


}

.ubicacion h6 {
    text-align: center;
    background-color: rgb(248, 248, 248);
    font-family: 'Poppins', sans-serif;
    height: 100px;
    padding-top: 40px;
}



.primer-bloque-2 h6 {
    padding-left: 70px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;

}

.primer-bloque-2 p {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: black;


}

.primer-bloque-2 {
    background-color: rgb(248, 248, 248);
}

.primer-bloque-2 svg {
    margin-left: 70px;
}

iframe {
    padding-left: 70px;
}

.redes svg {
    width: 50px;
    height: 50px;
    color: black;
}


.segundo-bloque-1-2 p {
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/*Responisve Desktop*/
@media screen and (min-width:768px) {
    nav {
        height: 100vh;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a {
        font-size: 25px;
        margin-bottom: 30px;

    }

    .banner-text h2 {
        font-size: 20px;
    }
}